<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
    />
  </head>
  <div class="container-fluid">
    <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark" style="color: black;">
        <div
          class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"
        >
          <ul
            class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
            id="menu"
          >
            <li class="nav-item">
              <a href="/blogs" class="nav-link align-middle px-0">
                <span
                  class="ms-1 d-none d-sm-inline"
                  style="font-weight: bold; font-size: 17px; color: white"
                  >Блоги</span
                >
              </a>
            </li>
            <li class="nav-item">
              <a href="/products" class="nav-link align-middle px-0">
                <span
                  class="ms-1 d-none d-sm-inline"
                  style="font-weight: bold; font-size: 17px; color: white"
                  >Продукты</span
                >
              </a>
            </li>
            <br /> <br> <br> <br> <br> <br> <br><br><br> <br> <br><br><br> <br> 
            <br /> <br /> <br /> <br /> <br /> <br /> <br><br>
            <li class="nav-item">
              <a href="/logout" class="nav-link align-middle px-0">
                <span
                  class="ms-1 d-none d-sm-inline"
                  style="color: red; font-weight: bold; font-size: 17px"
                  >Выйти</span
                >
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col py-3">
        <p style="font-weight: bold; text-align: center; font-size: 30px">
          Панель администратора
        </p>
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        <main id="adminContent" class="container mt-4">
          <figure class="text-end">
            <blockquote class="blockquote">
              <p style="font-weight: bold">
                Панель "BIG METAL" и правила управления
              </p>
            </blockquote>
            <figcaption class="blockquote-footer">
              Создано <cite title="HyperNova IT Company">HyperNova.Uz</cite>
            </figcaption>
          </figure>
          <dl class="row">
            <dt class="col-sm-3">Про логин и пароль в админке</dt>
            <dd class="col-sm-9">
              Никогда и никому не сообщайте логин и пароль от своей
              админ-панели!
            </dd>

            <dt class="col-sm-3">Проблемы</dt>
            <dd class="col-sm-9">
              <p>
                Если у вас возникли проблемы с вашей системой, обратитесь в
                HyperNova!
              </p>
            </dd>

            <dt class="col-sm-3">Номер телефона</dt>
            <dd class="col-sm-9">
              Тохиров Азамат
              <a href="tel: +998 94 412 56 26" style="text-decoration: none"
                >+998 94 412 56 26</a
              >
            </dd>

            <dt class="col-sm-3 text-truncate">Telegram</dt>
            <dd class="col-sm-9">
              Тохиров Азамат
              <a href="https://t.me/HyperNova_PM" style="text-decoration: none"
                >@HyperNova_PM</a
              >
            </dd>
            <br/>
            <p style="font-weight: bold; text-align: center;">Создано <a href="https://hypernova.uz" style="text-decoration: none;">HyperNova.uz</a></p>
          </dl>
        </main>
      </div>
    </div>
  </div>
</html>
